{% extends "onestory/base.html" %}
{% block title %}Home{% endblock %}


{% block head %}
{{ super() }}

<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    #feedpage {
      margin-top: 100px;
      height: 700px;
    }
    .column {
      max-width: 600px;
    }
    .padleft {
        margin-left: 50px;
        margin-right: 10px;
    }

    #test {
        height: 700px;
        max-width: 700px;
        overflow: auto;
    }

    .yellow{
        color: yellow;
    }
</style>

{% endblock %}

{% block content %}
<div id="editpage">
    
</div>

<script type="text/javascript">
$(function() {
    var today = new Date();
    var thisMonth = today.getMonth()+1;
    var thispage = new Vue({
      delimiters : ['${', '}'],
      el: '#editpage',
      data: {
        show_content_loading: false,
        cleardata: true,
        pass_name: '',
        pass_word: '',
        counter: 0,
        return_info: {},
        passid : '',
        nickname : '',
        pickeddate :  today.getFullYear() + "/" + thisMonth + "/" + today.getDate(),
      },
      methods: {
        swingUp(){
            // Vue.component('imgsection', ImgSection);
            $('#datacard').dimmer('show');
            var _self = this
            _self.counter += 1
            _self.show_content_loading = true;
            var inputdata = {}
            inputdata['username'] = 'tom'
            inputdata['password'] = 123
            inputdata['csrfmiddlewaretoken'] = "{{ csrf_token }}"
            $.ajax({
                type: "POST",
                url: "{{ url("onestory:loginpost") }}",
                data: inputdata,
                dataType: "json",
                beforeSend: function(){

                },
                success: function(data){
                    _self.show_content_loading = false;
                    _self.cleardata = true;
                    $('#datacard').transition('fly up', '1000ms');
                },
                error: function(e) { 
                    alert("登录失败")
                },
                complete: function(){
                    $('#datacard').transition('fly down');
                    $('#datacard').dimmer('hide');
                    _self.pickeddate = _self.changeDate(1);
                    // $('#datacard').dimmer('hide');
                },
            })

        },

        swingDown(){
            $('#datacard').dimmer('show');
            var _self = this
            this.counter += 1
            _self.show_content_loading = true;
            var inputdata = {}
            inputdata['username'] = 'tom'
            inputdata['password'] = 123
            inputdata['csrfmiddlewaretoken'] = "{{ csrf_token }}"

            $.ajax({
                type: "POST",
                url: "{{ url("onestory:loginpost") }}",
                data: inputdata,
                dataType: "json",
                beforeSend: function(){
                },
                success: function(data){
                    _self.show_content_loading = false;
                    _self.cleardata = false;
                    $('#datacard').transition('fly down', '1000ms');
                },
                error: function(e) { 
                    alert("登录失败")
                },
                complete: function(){
                    $('#datacard').transition('fly up');
                    $('#datacard').dimmer('hide');
                    _self.pickeddate = _self.changeDate(1, 0);
                },
            })
        },

        showCalander(){
            var _self = this
            $('#getcalander').calendar({
                type: 'date',
                onChange: function (date, text) {
                    _self.pickeddate = _self.stringToDate(text);
                },
            });
        },

        changeDate(dateToGo, type=1){
            var _self = this
            var converted = Date.parse(_self.pickeddate);
            var curDate = new Date(converted);
            if(type == 1){
                var newDate = new Date(curDate.getTime() + 24*60*60*1000*dateToGo);  //后一天 
            }else{
                var newDate = new Date(curDate.getTime() - 24*60*60*1000*dateToGo);  //前一天
            } 
            return _self.stringToDate(newDate);

        },

        stringToDate(DateStr){
            var converted = Date.parse(DateStr);
            var myDate = new Date(converted);
            if (isNaN(myDate)){
                var arys= DateStr.split('-');
                myDate = new Date(arys[0],arys[1],arys[2]);
            }
            month = myDate.getMonth() + 1;
            return myDate.getFullYear() + "/" + month + "/" + myDate.getDate();
        }, 

      }   
    })

});

</script>
{% endblock %}
