{% extends "onestory/base.html" %}
{% block title %}Index{% endblock %}


{% block head %}
{{ super() }}
<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    #center {
      margin-top: 100px;
    }
    .column {
      max-width: 500px;
    }

</style>

{% endblock %}


{% block content %}

<div id="loginpage">
    <div id="center" class="ui middle aligned center aligned grid">

        <div class="two wide column">
        </div>
        <div class="twelve wide column">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <img src="/static/assets/images/logo.png" class="image">
                        <div class="content">
                            Log-in to your account
                        </div>
                    </h2>
                    <form class="ui large form" action="" method="POST">
                    <!-- <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> -->
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="User Name" v-model="pass_name"> 
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password" v-model="pass_word"> 
                            </div>
                        </div>

                        <div v-on:click="submitLogin" class="ui fluid large teal animated fade submit button"
                             tabindex="0">
                            <div class="hidden content">确认</div>
                            <div class="visible content">登录</div>
                        </div>
                        <p>nickname=> ${ nickname } </p>

                    </div>

                    <div class="ui error message"></div>

                    </form>
                    <div v-on:click="register" class="ui fluid large animated fade button" tabindex="0">
                        <div class="hidden content">快来加入吧</div>
                        <div class="visible content">还没有账号?</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {
    var thispage = new Vue({
      delimiters : ['${', '}'],
      el: '#loginpage',
      data: {
        pass_name: '',
        pass_word: '',
        counter: 0,
        return_info: {},
        passid : '',
        nickname : '',
      },
      methods: {
        submitLogin: function() {
            var _self = this
            this.counter += 1
            var inputdata = {}
            inputdata['username'] = this.pass_name
            inputdata['password'] = this.pass_word
            inputdata['csrfmiddlewaretoken'] = "{{ csrf_token }}"
            $.ajax({
                type: "POST",
                url: "{{ url("onestory:loginpost") }}",
                data: inputdata,
                dataType: "json",
                
                success: function(data){
                    if(data.err_no != 0){
                        alert("登录失败" + data.err_msg)
                    }else{
                        _self.return_info = data.data
                        _self.passid = _self.return_info.passid
                        _self.nickname = _self.return_info.nickname
                    }
                },
                error: function(e) { 
                    alert("登录失败")
                },
                complete: function(){
                },
            })
        },
        register: function() {
          this.counter2 += 3
        }
      }   
    })

});

</script>
{% endblock %}
