{% extends "onestory/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    #center {
      margin-top: 100px;
    }
    .column {
      max-width: 500px;
    }


</style>
<script src="/static/assets/library/jquery.min.js"></script>
{% endblock %}

{% include "onestory/fixheader.html" %}

{% block content %}

<div id="center" class="ui middle aligned center aligned grid">

    <div class="two wide column">
    </div>
    <div class="twelve wide column">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="/static/assets/images/logo.png" class="image">
                    <div class="content">
                        Log-in to your account
                    </div>
                </h2>
                <form class="ui large form" action="/onestory/logintosys/" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="User Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="ui fluid large teal animated fade submit button" tabindex="0">
                            <div type="submit" class="hidden content">确认</div>
                            <div class="visible content">登录</div>
                        </div>
                        <button class="ui button" type="submit">Submit</button>

                    </div>

                    <div class="ui error message"></div>

                </form>

                <div class="ui fluid large animated fade button" tabindex="0">
                    <div class="hidden content">快来加入吧</div>
                    <div class="visible content">还没有账号?</div>
                </div>

            </div>
        </div>
    </div>
    <div class="two wide column">
    </div>
</div>


{% endblock %}